@{
    ViewBag.Title = "Home Page";
}

<!--<div class="row row-offcanvas row-offcanvas-right">-->

    <!--<div class="col-xs-12 col-sm-9">
        <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>-->
        <div class="jumbotron">
            <h1>Graphs4Social</h1>
            <p>Get Started today!</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Download Game &raquo;</a>
            </p>
            <br/>
            <br />
            <br />
            <br />
        </div>
    <!--</div>/span-->

    <!--<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="#" class="list-group-item active">Download Game</a>
            <a href="#" class="list-group-item">Leaderboard</a>
            <a href="#" class="list-group-item">Dimensão da Rede</a>
            <a href="#" class="list-group-item">Tag cloud de todos os utilizadores</a>
            <a href="#" class="list-group-item">Tag cloud de todas as relações</a>
            <a href="#" class="list-group-item">Sugestões de amigos</a>
            <a href="#" class="list-group-item">Tamanho da sua rede</a>
            <a href="#" class="list-group-item">Tag cloud dos seus utilizadores</a>
            <a href="#" class="list-group-item">Tag cloud das suas relações</a>
        </div>
    </div>/span-->
<!--</div>/row-->

<hr>
